<ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>{{title}}</ion-title>
  
      <ion-button slot="end" fill='clear' routerLink='/home'>
          <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <span *ngFor="let item of customPractices">
        <ion-item (click)="startScheduledPractice()">
          {{item}}
        </ion-item>
      </span>
    </ion-list>
    <img class="footer-guitar-img" src="assets/guitar_transparent.svg" />
  </ion-card>
</ion-content>
