<ion-header>
    v

<ion-content>
<div class="logo-container">
  <img src="../../assets/RiffD_Logo.png"/>
</div>
<div class="form">
  <ion-item>
    <ion-label position="stacked">Email <ion-text>*</ion-text></ion-label>
    <ion-input required type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password <ion-text>*</ion-text></ion-label>
    <ion-input required type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
</div>
<ion-button expand="block" fill="outline" (click)="submit()">Login</ion-button>
</ion-content>
