#logo{
    height: auto;
    width: 75vw;
    position: absolute;
    top: 15vh;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.buttons {
    width: 100vw;
    padding: 16px;
    position: absolute;
    top: 70vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    ion-button{
        margin-bottom: 25px;
    }
}

