.logo-container{
    width: 100%;
    margin: 0;
    text-align: center;
    
    img {
        height: 33vh;
        width: auto;
    }
}

ion-button{
    position: absolute;
    bottom: 25px;
    width: 90vw;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}