<ion-content>
<div class="logo-container">
  <img src="../../assets/RiffD_Logo.png"/>
</div>
<div class="form">
  <ion-item>
    <ion-label position="stacked">First Name <ion-text>*</ion-text></ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Last Name <ion-text>*</ion-text></ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email <ion-text>*</ion-text></ion-label>
    <ion-input required type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password <ion-text>*</ion-text></ion-label>
    <ion-input required type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Confirm Password <ion-text>*</ion-text></ion-label>
    <ion-input required type="password"></ion-input>
  </ion-item>
</div>
</ion-content>
