<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <img class="logo-nav" src="../../assets/logo_nav.png"/>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>

    <!----><ion-button slot="end" fill='clear'>
        <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome">
    <div class="image">
      <img src="../../assets/_ionicons_svg_md-contact.svg"/>
    </div>
    <h3>Welcome, NAME</h3>
  </div>
  <div class="actions">
    <div class="action">
      <div class="icon">
        <img src="../../assets/guitar.png"/>
      </div>
      <h6>Start a Practice Session</h6>
    </div>
    <div class="action">
      <div class="icon">
        <img src="../../assets/_ionicons_svg_md-calendar.svg"/>
      </div>
      <h6>Set a Practice Schedule</h6>
    </div>
    <div class="action">
      <div class="icon">
        <img src="../../assets/_ionicons_svg_md-create.svg"/>
      </div>
      <h6>Review Previous Session</h6>
    </div>
  </div>
</ion-content>
